/* Results.css */
body {
    font-family: 'LeeSeoyun', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a5d0b5;
  }
  
  .results-container {
    padding: 20px;
    text-align: center;
  }
  
  .results-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  
  .App-logo {
    height: 40px;
  }
  
  .results-main {
    margin-top: 50px;
  }
  