/* SearchResults.css */
body {
  font-family: 'LeeSeoyun', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a5d0b5;
}

.search-results-container {
  padding: 20px;
  text-align: center;
}

.search-results-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.App-logo {
  height: 40px;
}

.search-results-main {
  margin-top: 50px;
}

.results-list {
  list-style: none;
  padding: 0;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
