/* MedicineInfo.css */
* {
  font-family: 'LeeSeoyun'; /* 모든 요소에 폰트 적용 */
}
  
  .medicine-info-container {
    padding: 20px;
    text-align: center;
  }
  
  .medicine-info-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  
  .App-logo {
    height: 40px;
  }
  
  .medicine-info-main {
    margin-top: 50px;
  }
  