.name-search-container {
  text-align: center;
  padding: 20px;
}

.name-search-header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.home-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #21a1f1;
}

.name-search-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.search-input {
  padding: 10px;
  font-size: 18px;
  width: 300px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
  background-color: #9fd8f4;
  transform: translateY(-5px);
}

.button-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}
