@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'LeeSeoyun';
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  background-color: #a5d0b5;
  color: white;
}

.App-logo {
  height: 40px;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a5d0b5;
}

.title {
  font-size: 60px;
}

.button-container {
  display: flex;
  justify-content: center;

  gap: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.App-button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
  color: white;
  background-color: #36b09a;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.App-button:hover {
  background-color: #0c866dcb;
}
